# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# Logs
*.log

# Arduino / C++
*.o
*.obj
*.elf
*.bin
*.hex
*.map

# OS
.DS_Store
Thumbs.db
